/* =============
    Base
============= */
*{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

@mixin site-padding(){
    padding-left: 16px; 
    padding-right: 16px;

    @include lg{
        padding-left: 32px; 
        padding-right: 32px; 
    }
}




