/* =============
    Typography
============= */

@mixin titles {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

@mixin button-small {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    color: white
}


h1{
    @include titles();
    font-size: 55px;
}

h2{
    @include titles();
    font-size: 40px;
}
