#additions{
    @include site-padding; 
    margin-top: 30px;
    
    article{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
           font-size: 35px; 
           text-align: center;
           margin-bottom: 20px
        }

        #select{
            display: flex;
            flex-direction: row;
            gap: 35px;
            align-items: center;

            h3{
                font-size: 20px;
            }

            .purpleButton{
                padding: 2px 50px;

            }

        }
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0px;
        li{
            /* Customize the label (the container) */
            .container {
                display: block;
                position: relative;
                padding-left: 35px;
                margin-bottom: 12px;
                cursor: pointer;
                font-size: 22px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            
            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
            }
            
            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
                background-color: #ccc;
            }
            
            /* When the checkbox is checked, add a blue background */
            .container input:checked ~ .checkmark {
                background-color: #2196F3;
            }
            
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            
            /* Show the checkmark when checked */
            .container input:checked ~ .checkmark:after {
                display: block;
            }
            
            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 9px;
                top: 5px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
                        
            

            h3{font-size: 27px;}
            p{font-size: 27px;}
            h6{
                font-size: 18px;
                width: 310px;  
                margin-top: 20px; 
                margin-bottom: 25px;
                line-height: 25px; 
            }
            a{
                @include bold();   
                font-size: 22px;
                color: $DarkTeal;
                text-decoration: none;
                &:hover{ text-decoration: underline;}
            }
            background-color: $CardPurple;
            padding: 0px 8px;
            margin: 8px;
            width: 420px;
            height: 570px;
            border-radius: 8px;

            img{
                padding-left: 85px;
            }
        }

        #last{
            height: 580px;
        }
    }

    @include lg{
        article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            h1{
               font-size: 40px; 
            }
    
            #select{
                display: flex;
                justify-content: space-between;
                align-items: center; 
                h3{
                    font-size: 20px;
                }
    
            }
        }
    
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;
            gap: 20px;
            padding: 0px;
            li{
                padding: 0px 8px;
                width: 418px;
                height: 552px;
                border-radius: 8px;

                img{
                    padding-left: 60px;
                }
            }

            #last{
                height: 552px;
            }
            
        }
    }

}