#additions{
    @include site-padding; 
    margin-top: 30px;
    
    article{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
           font-size: 35px; 
           text-align: center;
           margin-bottom: 20px
        }

        #select{
            display: flex;
            flex-direction: row;
            gap: 35px;
            align-items: center;

            h3{
                font-size: 20px;
            }

            .purpleButton{
                padding: 2px 50px;

            }

        }
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between; 
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0px;
        li{
            background-color: $CardPurple;
            padding: 0px 8px;
            width: 358px;
            height: 553px;
            border-radius: 8px;
            
        }
    }

    @include lg{
        article{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            h1{
               font-size: 40px; 
            }
    
            #select{
                display: flex;
                justify-content: space-between;
                align-items: center; 
                h3{
                    font-size: 20px;
                }
    
            }
        }
    
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            align-items: center;
            gap: 20px;
            padding: 0px;
            li{
                padding: 0px 8px;
                width: 418px;
                height: 552px;
                border-radius: 8px;

                img{
                    padding-left: 40px;
                }
            }
        }
    }

}