#checkout{
    margin-left: 30px;
    margin-right: 30px;
    aside{
        div{
            p{font-size: 16px;}
            h2{font-size: 16px;}
        }
        h3{font-size: 32px;}

    }

    article{
        div{
            h3{font-size: 18px;}
            form{
                @include light(); 
                display: flex;
                flex-direction: column;
                gap: 16px;

                input{
                    border: none;
                    background-color: $StarGrey;
                    padding: 2px 9px;
                    font-size: 14px;
                    border-radius: 10px;
                    height: 40px;
                    width: auto;
                   
                    
                    &:focus{
                    border: 1px solid green !important;
                    background-color: gray; }
                }

            }
        }

        #shipping{
            display: flex;
            flex-direction: column;
            gap: 16px;
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                p{font-size: 14px;}
                padding: 0px 8px;
                height: 44px;
                width: auto;
                background-color: $StarGrey;
                border-radius: 10px;
                


            }
        }
    }

    #cart{
        display: flex;
        flex-direction: column;

        div{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "img  text"
            "img  price"; 
            text-align: end;
            border-bottom: 1px solid $MediumGrey;
            
            h3{
                font-size: 18px;
                margin-bottom: 6px;
            }
            p{
                font-size: 14px;
                margin-top: 0px;
                margin-bottom: 74px;
            }
            

            #img{
                grid-area: img;
            }

            #text{
                grid-area: text;
                display: flex;
                flex-direction: column;
                border-bottom: none;

            
            }

            #price{
                grid-area: price;
            }

        }


    }



    @include lg{
        aside{
            h3{font-size: 40px;}
        }
    }

}