#community{
    @include site-padding; 
    background-color: $DarkerTeal;

    #title{
        margin-left: 10px;
        h1{
            font-size: 40px;
            color: white;
            margin-top: 0px;
            padding-top: 30px;
            margin-bottom: 10px;
        }
        h3{
            font-size: 18px;
            color: $StarGrey;
            width: 382px;
            line-height: 25px;
            margin-bottom: 40px;
        }
    }

    #options{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-size: 32px;
            color: white;
        }
        p{
            font-size: 18px;
            color: white;
            margin-top: 4px;
        }

        .purpleButton{
            padding: 2px 40px;
        }

        aside{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 381px;
        }
        
        #leather{
            display: none;
        }
        #paper{
            display: none;
        }
    }
        #mainB{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 20px;
            margin-top: 20px;
            margin-bottom: 40px;
            padding-bottom: 40px;
            border-bottom: 1px solid $MediumGrey;
        }

    article{

        #follow{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;

            h1{
                font-size: 32px;
                color: white;
            }

            #icons{
                display: flex;
                flex-direction: row;
                gap: 20px;
                margin-bottom: 20px;
            }

        }

        #imgs{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "big     big"
            "small1  small2";
            
            #big{
                grid-area: big;

            }

            #small1{
                padding-top: 5px;
                grid-area: small1;
            }

            #small2{
                padding-top: 5px;
                grid-area: small2;
                height: 176px;
            }

            padding-bottom: 20px;
        }
    }



    @include lg{
        #title{
            margin-left: 10px;
            h1{
                font-size: 55px;
            }
            h3{
                font-size: 32px;
                color: $StarGrey;
                width: 832px;
                line-height: 44px;
                margin-bottom: 40px;
            }
        }
    
        #options{
            display: flex;
            flex-direction: row;
            align-items: left;
            text-align: left;
    
            h1{
                font-size: 40px;
                color: white;
            }
            p{
                font-size: 27px;
                color: white;
                margin-top: 4px;
            }
    
            .purpleButton{
                padding: 2px 40px;
            }
    
            aside{
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: left;
                width: 381px;
                margin-left: 50px;
                margin-bottom: 20px;

            }
    
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 381px;
            }
    
            
            
            #leather{
                display: inline;
                
            }

            #paper{
                display: inline;
            }
        }

        #mainB{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2px 48px;
            margin-top: 20px;
            margin-bottom: 40px;
            margin-left: 340px;
            margin-right: 340px;
            padding-bottom: 40px;
            border-bottom: none;
        }
    
        article{
            
            #follow{
                border-top: 1px solid $MediumGrey;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
    
                h1{
                    font-size: 32px;
                    color: white;
                }
    
                #icons{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    margin-bottom: 20px;
                    margin-top: 20px;
                }
    
            }
    
            #imgs{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                "big     small1"
                "big    small2";
                
                #big{
                    grid-area: big;
                    width: auto;
                    height: 567px;  
                }
    
                #small1{
                    padding-top: 5px;
                    grid-area: small1;
                }
    
                #small2{
                    padding-top: 5px;
                    grid-area: small2;
                    width: 376px;
                    height: 267px;
                }
    
                padding-bottom: 20px;
            }

        }



    }
}