#features{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    background-color: $DarkTeal;
    color: white;
    

    h1{
        text-align: center;
        width: 350px;
        margin-bottom: 0px;
    }

    #icons{
        display: flex;
        flex-direction: column;

        h3{
            font-size: 22px;
            text-align: center;
        }

        p{
           font-size: 18px; 
           text-align: center;
        }

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 380px;
            border-bottom: 1px solid $MediumGrey;
            img{
                margin-top: 40px;
            }

            h3{
                margin-top: 20px;
                margin-bottom: 10px;
            }

            p{
                margin-bottom: 40px;
                line-height: 25px;
            }
        }

    }

    aside{
        .purpleButton{
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 2px 48px;
        }

    }


    @include lg{
        width: auto;
        height: auto;

        h1{
            text-align: center;
            width: auto; 
            margin-bottom: 0px;
        }

        #icons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 50px;
            margin-top: 50px;


            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: none;
                border-right: 1px solid $MediumGrey;
                width: auto;
                height: 368px;
                padding-right: 50px;
            

                img{
                margin-top: 0px;
                }

                h3{
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                p{
                    margin-bottom: 0px;
                }
            }

            #four{
                border-right: none;
            }

        }

        aside{
            .purpleButton{
                margin-top: 30px;
                margin-bottom: 30px;
            }
    
        }
    }

    


    
}

