#hero{
   display: grid;
   grid-template-columns: 1fr;



   @include lg{
      display: grid;
   grid-template-columns: 1fr 1fr; 
   }

   #text{
      display: flex; 
      flex-direction: column;
      gap: 40px;

   }

   aside{
      display: flex;
   }

}