#notsure{ 
    position: relative;
    text-align: center;
    color: white;
    #image{
        display: none;
    }

    article{ 
        img{
            width: 100%;
        }
    }

    aside{
        div{
            h1{display: none;}

            h2{display: none;}

            h3{
                position: absolute;
                top: 10px;
                left: 120px;
                font-size: 36px;
                line-height: 46px;
            }

            p{
                position: absolute;
                top: 130px;
                left: 120px;
                font-size: 18px;
                line-height: 30px;
            }
        }
        .purpleButton{
            position: absolute;
            bottom: 85px;
            left: 170px;
            padding: 2px 48px;
        }
        .button{
            display: none;
        }
       
    }

}





@include lg{
    #notsure{
        display: inline;
        display: flex;
        flex-direction: row;
        text-align: left;
        color: black;

        #image{
            display: inline;
        }
    
        article{ 
            img{
               display: none;
            }
        }
    
        aside{
            display: flex;
            flex-direction: column;
            justify-content: left;
            div{
                display: flex;
                flex-direction: column;
                justify-content: left;
                margin-left: 20px;
                h1{
                    display: inline;
                    font-size: 35px;
                }
    
                h2{
                    display: inline;
                    font-size: 30px;
                    line-height: 50px;
                    margin-top: 0px;
                }
    
                h3{display: none;}
    
                p{display: none;}

            }

            .purpleButton{
               display: none;
            }

            .button{
                display: inline;
                text-align: center;
                margin-left: 400px;
                width: 190px;
                height: auto;
                padding: 12px 0px;
                
                background-color: $ButtonPurple;
                &:hover{
                    background-color: $BrightButtonPurple;
                    transition: .3s;
                }
                
            }
            
        }
    
    }
}
