#thankyou{
  
    article{
        text-align: center;
        h3{font-size: 40px;}
        p{font-size: 18px;}
        div{
            h3{font-size: 18px;}
            h2{font-size: 16px;}
        }

    }

    #bar1{

    }

    #bar2{
        display: none;
    }

    aside{
        
        text-align: center;
        h3{font-size: 18px;}
        p{font-size: 18px;}
        
    }

    @include lg{
        article{
            text-align: center;
        }

        #bar1{
            display: none;
        }
    
        #bar2{
            display: inline;
        }

        aside{
            text-align: start;
            padding-left: 82px;
            p{
                margin: -30px;
                margin-bottom: 20px;
                margin-top: 2px;
            }
        }
    }


}