/* =============
    Buttons
============= */

@mixin button($bg-color){
    display: flex;
    background-color: $bg-color;
    text-decoration: none; 
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    padding: 8px 24px;

    @include button-small();

    &:hover{
        background-color: $RegTeal;
        transition: .3s;
    }
}

a.button{
    @include button($DarkTeal);
}

.purpleButton{
    @include button($ButtonPurple);

    &:hover{
        background-color: $BrightButtonPurple;
        transition: .3s;
    }
}



