/* =============
    Buttons
============= */

@mixin button($bg-color){
    background-color: $bg-color;
    padding: 24px 8px; 
    text-decoration: none; 
    @include button-small();

    &:hover{
        background-color: $RegTeal;
        transition: .3s;
    }
}

a.button{
    @include button($DarkTeal)
}


