/* =============
    Navigation
============= */

header {
    background-color: white;
    box-shadow: 0px 4px 4px 0px $StarGrey;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;

    #burger-btn {
        display: flex;
        flex-direction: column;
        gap: 6px;
        position:relative;
        
        div{
            height: 5px;
            width: 34px;
            background-color: $MediumGrey;
        }

    }

    #burger-btn.open{
        div{
          transition:.3s;
          //// COLORS & STYLES FOR ALL HERE
          &:first-child{
            transform: rotate(40deg);
            transform-origin: bottom left;
            top: -2px;
          }
          &:nth-child(2){
            opacity:0;
          }
          &:last-child{
            transform-origin: top left;
            transform:rotate(-40deg);
            top: 2px;
          }
        }
      }


    #burger-container{
        display: block;
        position: relative;
        z-index: 3;
        @include lg{
            display: none;
        }
    }

    #main-menu{
        @media only screen and (max-width: 1024px) {
            background-color: $StarGrey;
            transition:.3s;
            height: 100vw;
            width: 80%;
            position: absolute;
            top: 0;
            left: -100%;

            ul{ 
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 32px;
                color: $DarkTeal;
                a:link{ text-decoration: none;}
            }
  
            &.show-menu{
                left:0;
                transition:.3s;
            }
        }
    
        ul{ 
            display: flex;
            gap: 90px;
            li{
                list-style-type: none; 
                a{
                    @include bold(); 
                    list-style-type: none;
                    color: $DarkTeal;
                    font-size: 20px;
                    text-decoration: none;
                    &:hover{ text-decoration: underline;}
     
                 }
            }
        }
        display: none;

        @include lg{
            display: inline;
        }

        &.show-menu{
            display: inline;
        }

    }

    form{
        margin-left: auto;
        display: none;
        
        input{
            border: none;
            background-color: $StarGrey;
            color: $MediumGrey; 
            width: 348px;
            height: 45px;
            border-radius: 20px; 
        }

        @include lg{
            display: inline;
        }
    }

    #account{
        display: none;

        @include lg{
            display: inline;
        }
    }


}