/* =============
    Navigation
============= */

header {
    background-color: lightblue;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 28px;

    #burger-btn {
        display: flex;
        flex-direction: column;
        gap: 6px;
        position:relative;
        
        div{
            height: 5px;
            width: 34px;
            background-color: $MediumGrey;
        }

    }

    #burger-container{
        display: block;
        position: relative;
        z-index: 3;
        @include lg{
            display: none;
        }
    }

    #main-menu{
        @media only screen and (max-width: 600px) {
            background-color: green;
            transition:.3s;
            height: 100vw;
            width: 80%;
            position: absolute;
            top: 0;
            right: -100%;
  
            &.show-menu{
                right:0;
                transition:.3s;
            }
        }
    
        ul{ 
            display: flex;
            list-style: none;
            gap: 82px;
            a:link{ text-decoration: none;}
        }
        display: none;

        @include lg{
            display: inline;
        }

        &.show-menu{
            display: inline;
        }

    }

    form{
        margin-left: auto;
        display: none;
        
        input{
            border: none;
            color: $StarGrey; 
            width: 348px;
            height: 45px;
            border-radius: 20px; 
        }

        @include lg{
            display: inline;
        }
    }

    #account{
        display: none;

        @include lg{
            display: inline;
        }
    }


}